<head>
  <%= stylesheet_link_tag 'register', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div class='wrapper'>
<h2>Insira suas informações abaixo</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field email">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Insira seu e-mail"  %>
  </div>

  <div class="field password">
    <%= f.label :senha %>
    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Mínimo 6 caractéres" %>
  </div>

  <div class="field password">
    <%= f.label :Confirmar_Senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Mínimo 6 caractéres"  %>
  </div>

  <div class="field name">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, placeholder: "Insira seu nome"  %>
  </div>

  <div class="field cpf">
  <%= f.label :CPF %><br />
  <%= f.text_field :cpf, autofocus: true, placeholder: "Insira seu CPF"  %>
  </div>
  
  <div class="field phone">
    <%= f.label :Telefone_Celular %><br />
    <%= f.telephone_field :phone, placeholder: "Insira seu telefone"  %>
  </div>

  <div class="field dob">
  <%= f.label :Data_de_nascimento %><br />
  <%= f.date_select :date_of_birth, start_year: 1900, end_year: Date.today.year, order: [:day, :month, :year] %>
  </div>
  
  <div class="actions">
    <%= f.submit "Finalizar Cadastro" %>
  </div>
<% end %>

</div>
</body>