<head>
  <title>Home</title>
  <%= stylesheet_link_tag 'editanimal', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div class='wrapper'>
<h1>Editar Animal</h1>

<%= form_with(model: @animal, url: animal_path(@animal), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, ['Female', 'Male'] %>
  </div>

  <div class="field">
    <%= form.label :breed %>
    <%= form.text_field :breed %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :additional_info %>
    <%= form.text_area :additional_info %>
  </div>

  <%= form.submit "Salvar Alterações" %>
<% end %>
</div>
</body>