<!DOCTYPE html>
<html>
  <head>
    <title>Apets</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "header", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="header">

    <h1><a href='/'>a.pets</a></h1>

    <% if current_devise_user.present?%>
      <p class="greet">Olá <%= current_devise_user.name %></p>
      <%= button_to "Sair", destroy_devise_user_session_path, method: :delete, class: "userlogout" %>
    <% else %>
      <p><%= link_to "Entrar", new_devise_user_session_path %></p>
      <p><%= link_to "Cadastrar", new_devise_user_registration_path %></p>
    <% end %>
  </div>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
